* {
    font-family: sans-serif;
    color: #0b0b0b;
    margin: 0 0 0 0;
}

.main {
    display: inline-block;
    padding: 30px 30px;
    background-color: #DEDEDE;
    height: 100%;
    width: 100%;
}

.priceform {
    margin: 30px 20px 30px 20px;
    
}

.heading {
    margin: 30px 20px 30px 20px;
}