* {
    font-family: sans-serif;
    color: #0b0b0b;
    background-color: #DEDEDE; 
    margin: 0 0 0 0;
}

.main {
    display: inline-block;
    padding: 30px 30px;
    height: 100%;
    width: 100%;
}

.heading {
    margin: 30px 20px 30px 20px;
    text-align: center;
}

.form {
}

.priceform {
    margin: 30px 20px 30px 20px;

}

.save-btn {
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    /* box-shadow: none; */
    background-color: white;
    border: none;
    font-size: medium;
}